<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.EmpMapper">
    <resultMap type="com.example.demo.pojo.Emp" id="usermap">
        <id column="id" property="empno"/>
        <result column="name" property="ename"/>
        <result column="funkyNumber" property="job"/>
        <result column="roundingMode" property="hiredate"/>
    	<collection property="deptno" ofType="list" column="e">
		</collection>
	</resultMap>

</mapper>